name: Callable - Extract and build artifacts from public repo  

on:
  workflow_call:

jobs:
  extract_and_build_artifact:
    runs-on: ubuntu-latest

    steps:
      - name: Clone public repo files
        run: |
          git clone --branch main https://github.com/equinor/mssatlas_public_sandbox.git

      - name: Upload initialize files as artifact
        uses: actions/upload-artifact@v2
        with:
          name: init-template
          path: ./mssatlas_public_sandbox/Source/Deploy/init-files
          if-no-files-found: error

      - name: Upload build files as artifact
        uses: actions/upload-artifact@v2
        with:
          name: build-template
          path: ./mssatlas_public_sandbox/Source/Deploy/build-files
          if-no-files-found: error

      - name: Upload preflight files as artifact
        uses: actions/upload-artifact@v2
        with:
          name: preflight-template
          path: ./mssatlas_public_sandbox/Source/Deploy/preflight-files
          if-no-files-found: error

      - name: Upload deployment files as artifact
        uses: actions/upload-artifact@v2
        with:
          name: deploy-template
          path: ./mssatlas_public_sandbox/Source/Deploy/deploy-files
          if-no-files-found: error